.gui {
    margin: 0 auto;
    padding: 40px 0;
    width: 720px;
    height: 100%;
}
.panel {
    height: 100%;
    width: 100%;
}
.panel > section {
    height: 100%;
    background-color: #eee;
    border: 2px dashed #999;
    cursor: pointer;
}
.panel > section:hover {
    border-color: #666;
}
.panel > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.panel > section > div p {
    margin: 0;
    font-size: 16px;
}
.panel > section > div {
    text-align: center;
}